
@media (max-width: 1200px) {
    .container {
        min-width: 1200px !important;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        color: #3C3C3C;
        min-width: 1600px !important;
    }

    .text-center {
    text-align: center !important;
    }
    .footer-margin-right {
        margin-right:10%;
    }
    .footer-margin-left {
        margin-left:-4%;
    }
    .footer-margin-left1 {
        margin-left:26%;
    }
    .col-max-width21 {
        max-width: 17%;
    }
    .col-max-width9 {
        max-width: 75%;
    }
      .col-max-width61 {
        max-width: 50%;
    }
    .col-max-width3 {
        max-width:25%;
    }
    .col-max-width8 {
        max-width:64%;
    }
      .h2-font {
    font-size: 20px !important;
    color: #808080;
    }
      .text-md-left {
    text-align: left !important;
    }
}

@media (max-width: 992px) {
    .container {
        min-width: 1200px !important;
    }
    .col-max-width82{
         max-width: 58%;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        color: #3C3C3C;
        min-width: 1600px !important;
    }
    .text-md-left {
    text-align: left !important;
    }
    .navbar-nav .dropdown-menu {
        position: absolute !important;
        float: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        /* max-width:25%*/
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
     .tech-p-1 {
        color: grey;
        font-size: 14px;
        /* text-align: left; */
        width: 136%;
        margin-left: 68%;
    }
     .tech-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        margin-left: 190%;
        margin-top: 25%;
        height: 35px;
    }
    .cart-div-inner {
        float: left;
        /*margin-left: 80px;*/
    }
    .cart-div-inner1 {
        float: left;
        margin-left: 25px;
    }
    .a-popover {
        color: #0B9949 !important;
        font-size: 14px !important;
        /*margin-left: 30px;*/
    }
    .a-popover1 {
        color: #0B9949 !important;
        font-size: 14px !important;
        margin-left: 10px;
    }

    .a-popover2 {
        color: #f7961e !important;
        font-size: 14px !important;
        /*margin-left: -10px*/
    }
    .a-popover21 {
        color: #f7961e !important;
        font-size: 14px !important;
        margin-left: -5px
    }
    .inner-popover {
        background-color: white !important;
        height: 352px !important;
        width: 218px !important;
        /* z-index: 99999999 !important; */
        /*margin-left: 30%;*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
    .inner-popover1 {
        background-color: white !important;
        height: 352px !important;
        width: 218px !important;
        /* z-index: 99999999 !important; */
        margin-left: 15%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
    .slick-slide {
        width: 180px !important;
    }
    .footer-margin-right {
        margin-right:10%;
    }
    .footer-margin-left {
        margin-left:-4%;
    }
    .footer-margin-left1 {
        margin-left:26%;
    }
    .col-max-width1 {
        max-width:8% !important;
    }
    .col-max-width21 {
        max-width: 17%;
    }
    .col-max-width3 {
        max-width:25%;
    }
    .col-max-width83 {
        min-width:64%;
    }
    .d-none {
     display: block !important; 
    }
     .col-max-width7 {
        max-width: 58%;
    }
    .col-max-width71 {
        max-width:49%;
    }
    .col-max-width11 {
        max-width: 95%;
    }
    .col-max-width6 {
        max-width: 54%;
    }
    .col-max-width9 {
        max-width: 75%;
    }
      .col-max-width61 {
        max-width: 50%;
    }
    .col-max-width5 {
        max-width: 42%;
    }
    .col-max-width4 {
        max-width: 33.333%;
    }
    
      .h2-font {
    font-size: 20px !important;
    color: #808080;
    }
   
}

@media (max-width: 768px) {
    .container {
        min-width: 1200px !important;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        color: #3C3C3C;
        min-width: 1600px !important;
    }
    .tech-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        margin-left: 190%;
        margin-top: 25%;
        height: 35px;
    }
    .text-md-left {
    text-align: left !important;
    }
    .header-wrapper {
    position: relative;
    display: table;
    margin: 0 auto 30px 0;
    }
    .header-right-line {
    background: -moz-linear-gradient(right, rgba(76,174,53,0.65) 0%, rgba(76,174,53,0) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(76,174,53,0.65)), color-stop(100%,rgba(76,174,53,0)));
    background: -webkit-linear-gradient(right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -o-linear-gradient(right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -ms-linear-gradient(right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: linear-gradient(to left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39; #004cae35&#39; , endcolorstr=&#39; #4cae35&#39; ,gradienttype=1)margin-top: -1px;
    border-radius: 2px;
    height: 2px;
    ": ;
    }
    .txt-center .header-wrapper-inner {
    position: relative;
    display: inline-block;
    }
    .decor-before-holder, .decor-after-holder {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 2px;
    width: 50%;
    }
    .header-left-line {
    background: -moz-linear-gradient(left, rgba(76,174,53,0.65) 0%, rgba(76,174,53,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,174,53,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -o-linear-gradient(left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -ms-linear-gradient(left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: linear-gradient(to right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39; #4cae35&#39; , endcolorstr=&#39; #004cae35&#39; ,gradienttype=1)margin-top: -1px;
    border-radius: 2px;
    height: 2px;
    }
    .h2-font {
    font-size: 20px !important;
    color: #808080;
    }
    .header-wrapper h3 {
    padding: 0 20px;
    margin: 0;
     white-space: nowrap; 
    }
    .tech-p-1 {
        color: grey;
        font-size: 14px;
        /* text-align: left; */
        width: 136%;
        margin-left: 68%;
    }
    .navbar-nav .dropdown-menu {
        position: absolute !important;
        float: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }

    .cart-div-inner {
        float: left;
        /*margin-left: -25px;*/
    }

    .a-popover {
        color: #0B9949 !important;
        font-size: 14px !important;
        /*margin-left: -25px;*/
    }

    .header-left-div-inner-span {
        color: #d9d9d9 !important;
        /*margin-left: -25px;*/
    }

    .a-popover2 {
        color: #f7961e !important;
        font-size: 14px !important;
        /*margin-left: -25px;*/
    }

    .inner-popover {
        background-color: white !important;
        height: 352px !important;
        width: 218px !important;
        /* z-index: 99999999 !important; */
        margin-left: 5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }

    .mega-menu-btn768 {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        height: 35px;
        margin-left: 15%;
    }
     .mega-menu-btnaboutus {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        height: 35px;
        margin-left: 115%;
    }
     .slick-slide {
        width: 180px !important;
    }
    .footer-margin-right {
        margin-right:10%;
    }
    .footer-margin-left {
        margin-left:-4%;
    }
    .footer-margin-left1 {
        margin-left:26%;
    }
    .col-max-width21 {
        max-width: 17%;
    }
    .col-max-width3 {
        max-width:25%;
    }
    .col-max-width81 {
        max-width:66%;
    }
     .d-none {
     display: block !important; 
    }
     .col-max-width7 {
        max-width: 58%;
    }
    .col-max-width71 {
        max-width:49%;
    }
    .col-max-width11 {
        max-width: 95%;
    }
    .col-max-width6 {
        max-width: 54%;
    }
     .col-max-width9 {
        max-width: 75%;
    }
      .col-max-width61 {
        max-width: 50%;
    }
    .col-max-width5 {
        max-width: 42%;
    }
    .col-max-width4 {
        max-width: 33.333%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 1200px !important;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        color: #3C3C3C;
        min-width: 1600px !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }
    .prod-type .bk-ttl {
    padding: 0px 75px ;
    float: left;
    width: 100%;
    }
    .col-max-width10 {
        max-width:84%;
    }
    .col-max-width22 {
        max-width:16%;
    }
    .header-center-img {
        margin-top: 18px !important;
        padding-left: 0rem;
        /*margin-left: 10% !important;*/
    }
    .table-responsive-sm {
    display: table; 
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .text-md-left {
    text-align: left !important;
    }
    .cart-div-inner {
        float: left;
        margin-left: 0px !important;
    }
    .header-wrapper {
    position: relative;
    display: table;
    margin: 0 auto 30px 0;
    }
    .header-right-line {
    background: -moz-linear-gradient(right, rgba(76,174,53,0.65) 0%, rgba(76,174,53,0) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(76,174,53,0.65)), color-stop(100%,rgba(76,174,53,0)));
    background: -webkit-linear-gradient(right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -o-linear-gradient(right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -ms-linear-gradient(right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: linear-gradient(to left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39; #004cae35&#39; , endcolorstr=&#39; #4cae35&#39; ,gradienttype=1)margin-top: -1px;
    border-radius: 2px;
    height: 2px;
    ": ;
    }
    .txt-center .header-wrapper-inner {
    position: relative;
    display: inline-block;
    }
    .decor-before-holder, .decor-after-holder {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 2px;
    width: 50%;
    }
    .header-left-line {
    background: -moz-linear-gradient(left, rgba(76,174,53,0.65) 0%, rgba(76,174,53,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,174,53,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -o-linear-gradient(left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: -ms-linear-gradient(left, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    background: linear-gradient(to right, rgba(76,174,53,0.65) 0%,rgba(76,174,53,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39; #4cae35&#39; , endcolorstr=&#39; #004cae35&#39; ,gradienttype=1)margin-top: -1px;
    border-radius: 2px;
    height: 2px;
    }
    .h2-font {
    font-size: 20px !important;
    color: #808080;
    }
    .header-wrapper h3 {
    padding: 0 20px;
    margin: 0;
     white-space: nowrap; 
    }
    .a-popover {
        color: #0B9949 !important;
        font-size: 14px !important;
        margin-left: 0px !important;
    }
    .mega-menu-btnaboutus {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        height: 35px;
        margin-left: 35%;
    }
    .header-left-div-inner-span {
        color: #d9d9d9 !important;
        margin-left: 0px !important;
    }

    .a-popover2 {
        color: #f7961e !important;
        font-size: 14px !important;
        margin-left: 0px !important;
    }

    .inner-popover {
        background-color: white !important;
        height: 352px !important;
        width: 218px !important;
        /* z-index: 99999999 !important; */
        margin-left: 15%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }

    .horizontal-line-right {
        border-right: 1px solid #d9d9d9;
        margin-left: 15px;
    }

    .menu-img-outer-div {
        height: 180px;
        margin-top: 15px;
        max-height: 190px;
        min-height: 190px;
        margin-left: 35px;
        margin-right: 15px;
    }

    .mega-menu-a-common {
        color: #0B9949;
        font-size: 14px;
        line-height: 30px;
        margin-left: 25px;
    }

    .mega-menu-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        height: 35px;
        margin-left: 18%;
    }

    .about-r-outer {
        height: 174px;
        margin-right: 15px;
    }

    .about-mt-1 {
        margin-top: 1%;
        margin-left: 30px;
    }

    .about-p-div {
        margin-top: 16px;
        margin-left: 35px;
    }

    .tech-mt-1 {
        margin-top: 6%;
        margin-left: 20px;
    }

    .tech-mt-2 {
        margin-top: 1.8%;
        margin-left: 75px;
    }

    .techno-p {
        font-size: 20px;
        color: #3C3C3C;
        font-weight: bold;
        margin-left: 25px;
    }

    .blog-border-right {
        border-right: 1px solid #d9d9d9;
        margin-left: 90px;
    }

    .blog-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        /* width: 100%; */
        margin-left: 500%;
        margin-top: 10%;
        height: 35px;
    }

    .card-img1 {
        position: relative;
        overflow: hidden;
        border-radius: 0;
        z-index: 1;
        max-height: 135px;
        min-height: 195px;
        width: 100%;
        margin-top: 10px;
        margin-left: 16px;
    }

    .blog-text {
        color: #0B9949;
        font-size: 14px;
        /* margin-left: 2px; */
        text-align: left;
        margin-right: -40px;
    }

    .blog-btn-width {
        width: 40% !important;
        /*margin-left: 135px !important;*/
        top: 3px !important;
    }
    .d-none {
     display: block !important; 
}
    .top-centered {
        position: absolute;
        top: 23%;
        left: 15%;
        transform: translate(50%, -50%);
    }

    .tech-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        margin-left: 190%;
        margin-top: 25%;
        height: 35px;
    }

    .tech-p-1 {
        color: grey;
        font-size: 14px;
        /* text-align: left; */
        width: 136%;
        margin-left: 68%;
    }

    .faqmargin {
        margin-left: 385px;
    }

    .col-max-width9 {
        max-width: 75%;
    }

    .col-max-width7 {
        max-width: 58%;
    }
    .col-max-width71 {
        max-width:49%;
    }
    .col-max-width11 {
        max-width: 95%;
    }
    .col-max-width8 {
        max-width:64%;
    }
    .col-max-width1 {
        max-width:8% !important;
    }
    .col-max-width6 {
        max-width: 54%;
    }
    
    .col-max-width5 {
        max-width: 42%;
    }
    .col-max-width21 {
        max-width: 17%;
    }
    .col-max-width3 {
        max-width:25%;
    }
    .m-0 {
        margin: 0 !important;
        /*margin-left: 9px !important;*/
    }
    
    .col-max-width4 {
        max-width: 33.333%;
    }

    .new-products-btn {
        border-radius: 0 !important;
        height: 10% !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 0.9vw !important;
        margin-top: 1% !important;
        margin-left: 40% !important;
        margin-bottom: 1% !important;
    }

    .new-products-btn-div {
        float: right;
        margin-top: -2% !important;
    }

    .col-max-width61 {
        max-width: 50%;
    }

    .slick-slide {
        width: 180px !important;
    }
    .footer-margin-right {
        margin-right:10%;
    }
    .footer-margin-left {
        margin-left:-4%;
    }
    .footer-margin-left1 {
        margin-left:26%;
    }
}

@media (max-width: 390px) {
    .container {
        min-width: 1200px !important;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        color: #3C3C3C;
        min-width: 1600px !important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
    /*.col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        /* max-width:25%*/
    /*}

    .lefttitle {
        width: 50%;
        position: absolute;
        color: white;
        font-size: 13px;
        float: left;
        padding: 1.5%;
        line-height: 20px;
    }

    .righttitle1 {
        position: absolute;
        right: 0%;
        color: white;
        font-size: 13px;
        float: right;
        padding: 1.5%;
        width: 50%;
        line-height: 20px;
    }

    .cart-div-inner {
        float: left;
        margin-left: -25px;
    }

    .a-popover {
        color: #0B9949 !important;
        font-size: 14px !important;
        margin-left: -25px;
    }

    .header-left-div-inner-span {
        color: #d9d9d9 !important;
        margin-left: -25px;
    }

    .a-popover2 {
        color: #f7961e !important;
        font-size: 14px !important;
        margin-left: -25px;
    }

    .inner-popover {
        background-color: white !important;
        height: 352px !important;
        width: 218px !important;
        /* z-index: 99999999 !important; */
      /*  margin-left: 0%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }

    .mega-menu-btn-768 {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        height: 35px;
        margin-left: 110%;
    }

    .mega-menu-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        height: 35px;
        margin-left: 110%;
    }*/
}

 .tech-p-1 {
        color: grey;
        font-size: 14px;
        /* text-align: left; */
        width: 136%;
        margin-left: 68%;
    }
     .tech-btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #0B9949 !important;
        border-color: none !important;
        font-size: 14px !important;
        width: 120px;
        margin-left: 190%;
        margin-top: 25%;
        height: 35px;
    }
.cookie-notice {
    display: none;
    background-color: #b9a020;
    position: fixed !important;
    min-width: 100%;
    height: 35px;
    visibility: hidden;
    font-size: 13px;
}

.cookie-notice-container {
    padding: 10px;
}

.p1_Cookie_Heading {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: -5px;
    font-family: 'open sans';
}

.headerPOPup {
    display: block;
    visibility: visible;
}

.headerPOPupContainer {
    padding-top: 30px;
}


.Message-sticky {
    background-color: #b9a020;
    color: #fff;
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
}

.a_cookie {
    font-size: 0.9em;
    margin: 0.5em 0.75em;
    padding: 0 0.5em;
    display: inline-block;
}

.fa_Cookie {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0;
    padding: 0.75em;
    cursor: pointer;
    z-index: 9999;
}

.pshow {
    display: block;
}

.phide {
    display: none !important;
}

.Message--animate {
    display: none;
    margin-top: -35px;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.new-products-span-head {
    font-size: 18px !important;
    font-weight: bold;
    color: #3C3C3C;
}
.products-title {
    font-weight: bold;
    font-size: 16px !important;
}
.new-products-p {
    font-size: 14px !important;
}
.new-products-btn {
    border-radius: 0 !important;
    height: 10% !important;
    color: white !important;
    background-color: #0B9949 !important;
    border-color: none !important;
    font-size: 12px!important;
    margin-top: 1% !important;
    margin-left: 35% !important;
    margin-bottom: 1% !important;
}
.a-see-all {
    font-size: 14px !important;
    color: #0B9949;
}
.a-see-all:hover {
    color: #0B9949 !important;
}
.img-slider {
    font-size: 18px !important;
    font-weight: bold;
    color: #3C3C3C;
}
.heading {
    font-size: 22px !important;
    font-weight: 500;
}