.divider10 {
	padding-bottom: 9px;
	height: 1px;
}
.m-none {
	margin: 0px;
}
.m-r-20 {
	margin-right: 20px;
}
.m-l-20 {
	margin-left: 20px;
}
.divider15 {
	padding-bottom: 14px;
	height: 1px;
}
.logo {
	line-height: 86px;
	padding-left: 0;
	height: 90px;
	text-align: center;
}
.ct-panel header,.ct-gray:hover, .bg-color{
	background-color: #4AA834 !important;
	color: #fff;
}
.ct-gray{
	background-color:#E8E8E8;
}
body, .dark-logo-bg, .login-body {
	background-color: hsl(0, 0%, 29%);
}
.sidebar-left-info {
	padding-top: 25px;
}
.sidebar-left .nav > li > a:hover, .sidebar-left .nav > li > a:focus, .side-navigation > li.active > a, .side-navigation > li.active > a:hover, .side-navigation > li.active > a:focus, .side-navigation > li.menu-list > a:hover, .side-navigation > li.nav-active > a, .side-navigation .child-list, .sidebar-collapsed .side-navigation > li.nav-hover > a, .sidebar-collapsed .side-navigation > li.nav-hover.active > a, .sidebar-collapsed .side-navigation li.nav-hover.active a span, .sidebar-collapsed .side-navigation li a span, .sidebar-collapsed .side-navigation li.nav-hover ul {
	background-color: #4AA834;
	color: #fff;
}
.overflow{
	overflow:hidden;
}
/*Dashbord*/
.value > h3 {
	line-height: 28px;
	margin: 0;
	font-size:20px;
}
.gray {
	color: #aaa;
}
.green-color {
	color: #4AA834;
}
.white {
	border-left: 1px solid hsl(0, 0%, 80%) !important;
}
.ct-border{
	border-left:2px solid #4AA834;
}
.icon-ct-bg-primary{
	background-color:#4AA834;
}
.state-overview .value {
	border-left: 1px solid;
	margin-top: 30px;
	min-height: 94px;
	padding-left: 15px;
	padding-top: 18px;
	width: 70%;
}
.state-overview .value {
  border-left: none;
  margin-top: 7px;
  min-height: 80px;
  padding-top: 18px;
  width: 73%;
}	
.state-overview .symbol {
	padding: 13px 0;
	width: 27%;
	height:80px;
}
.value.white {
  height: 100px;
  margin-top: 0;
  padding: 25px;
}
.state-alt .symbol span {
  border-radius: 50%;
  display: inline-block;
  height: 64px;
  margin-top: -5px;
  text-align: center;
  width: 64px;
}
.symbol.white{
	padding-top:21px;
	border:none !important;
}
.curser-pointer{
	cursor:pointer;
}
/*Dashbord end*/

/*calculate*/
.form-horizontal .control-label {
	margin-bottom: 7px;
	padding-top: 7px;
	text-align: left;
}
.btn-ct-primary {
	background-color: hsl(109, 53%, 43%);
	color: hsl(0, 0%, 100%);
	text-align: center;
}
.btn-ct-primary:hover, .btn-ct-primary:focus {
	color: #fff;
	background-color:#494949 !important;
}
.checkbox-custom {
	display: block;
	padding-left: 0;
	margin-top:-7px;
}
.radio-custom {
	display: block;
	padding-left: 0;
	margin-top: 7px;
}
.radio-custom.radio-primary input[type=radio]:checked + label:before, .checkbox-custom.check-primary input[type=checkbox]:checked + label:before {
	border-color: hsl(109, 53%, 43%) !important;
}
/*Calculate*/

/*login*/
.login-body{
	background-color:#fff;
}
h2.form-heading {
  background: hsl(0, 0%, 36%) none repeat scroll 0 0;
  padding: 0 0 35px !important;
}
.form-heading > p {
  font-size: 14px;
  line-height: 27px;
}
.form-signin input[type="text"], .form-signin input[type="email"], .form-signin input[type="password"] {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  box-shadow: none;
  color: #494949;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
}
.modal-body input[type="text"] {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border: 1px solid hsl(0, 0%, 87%);
  color: hsl(0, 0%, 20%);
}
.login-logo {
  background-image: url("../img/inner-img.jpg") !important;
  background-repeat: no-repeat !important;
  background-position:center center !important;
  background-size:cover cover !important;
}
/*login end*/

/*dropzone*/
.dropzone {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border: 2px dashed hsla(0, 0%, 0%, 0.3);
  min-height: 0;
  padding: 0;
}
  .dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
      font-size: 16px;}
/*dropzone end*/



/* datepicker*/

.datepicker {
  padding: 5px;
  z-index: 1060;
  background-color:#6c6c6c !important;
  border-color:#6c6c6c!important;
}
.datepicker td.day:hover {
  background: #4AA834 !important;
  cursor: pointer;
}
.datepicker::after {
  border-bottom: 6px solid #6c6c6c !important;
  border-left: 6px solid hsla(0, 0%, 0%, 0);
  border-right: 6px solid hsla(0, 0%, 0%, 0);
  content: "";
  display: inline-block;
  left: 7px;
  position: absolute;
  top: -6px;
}
.datepicker td.old, .datepicker td.new {
  color: hsl(0, 0%, 0%) !important;
} 
.datepicker thead tr:first-child th:hover {
  background: #4AA834 none repeat scroll 0 0;
}
.datepicker td span:hover {
  background: #4AA834 !important;
  color: hsl(0, 0%, 100%);
}
.datepicker td.day.active{
	background-color:#4AA834 !important;
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover, .datepicker td.active.disabled, .datepicker td.active.disabled:hover, .datepicker td.active[disabled], .datepicker td.active[disabled]:hover {
  background:none;
  color: hsl(0, 0%, 100%);
}
.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
  background-color: #4AA834 !important;
  color: hsl(0, 0%, 100%);
}
.datepicker td span.active:hover, .datepicker td span.active:active, .datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active[disabled] {
  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
  color: hsl(0, 0%, 100%);
}
/*datepicker end*/

/*pagination*/
.pagination > li > a:hover, .pagination > li.active > a, .pagination > .active > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background-color: hsl(109, 53%, 43%);
  border-color: hsl(109, 53%, 43%);
  color: hsl(0, 0%, 100%);
}
/*pagination end*/

/*profile accordion*/

a:focus, a:active, a:hover  {
  color: #4AA834;
  outline: medium none;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
/*profile accordion end*/

/*sidebar*/
.side-navigation .child-list > li.active > a, .child-list > li.hover > a {
  color: #fff !important;
}
.child-list a:hover{
	color:#fff !important;
}
.child-list .active{
	background-color:#3B862A;
}
/*sidebar end*/
/*tooltip */
.ct-tooltip {
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
  line-height: 13px;
  font-size: 10px;
  text-align:center;
  background-color: hsl(109, 53%, 43%);
  color: hsl(0, 0%, 100%);
}
/*tooltip end*/

/*orders page active*/
.ct-tab{
	background-color:#494949;
	color:#fff;
}
.ct-tab:hover{
	background-color:hsl(109, 53%, 43%);
	color:#fff;
}
.ct-tab-active{
	background-color:hsl(109, 53%, 43%);
}
/*orders page active end*/

/*badge*/
.ct-badge{
	background-color:hsl(1, 73%, 62%) !important;
}
.value h3 .ct-badge {
  float: right;
  height: 19px;
  position: absolute;
  right: -6px;
  top: -6px;
}
/*badge end*/


/*address*/
.modal-dialog {
  margin: 168px auto;
  /*width: 700px;*/
}
.modal-header {
  background: #4AA834 none repeat scroll 0 0;
  color: hsl(0, 0%, 100%);
  padding: 20px 15px;
  border-bottom:5px solid hsl(109, 54%, 21%);
}
.address{
	width:100%;
}
.address a {
  display: inline-block;
  padding: 4px 11px;
  width:100%;
}
.ct-edit{
	width:100%;
}
.ct-edit a{
	display:inline-block;
	padding:4px 11px;
	color:#494949;
	margin-top:9px;
}
/*address end*/
