
body {
    font-size: 14px !important;
}

.bold {
    font-weight: bold;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
}

.unit-bg {
    display: inline-block;
    width: 38px;
    height: 33px;    
    right: 0;
    top: 0;
    text-align: center;
    line-height: 37px;
    color: #eee;
    font-size: 15px;
    color: #5b5b5b;
}
.icondiffdesignppanel, .iconhardgold {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: 12px;
    cursor: pointer;
}

.dialogMiddleCenterInner {
    overflow-y: auto;
    max-height: 400px;
}

.priceNA {
    color: red;
    font-style: italic;
    font-weight: 700;
}

.loadingprice {
    position: absolute;
    top: 0px;
    min-height: 72px;
    width: 300px;
    background: #ccc;
    opacity: .5;
    filter: alpha(opacity=50);
    text-align: center;
    z-index: 3;
}

    .loadingprice img {
        vertical-align: middle;
        margin-top: 7%;
    }

.Assemblyhidden {
    display: none;
}

.viewmore {
    cursor: pointer;
    margin-top: 5px;
    color: #b1bda8;
    position: relative;
    float: left;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 26px;
}

    .viewmore:hover {
        color: #4AA834;
    }

.divinformations {
    border: 2px solid #EEEEEE;
    font-size: large;
    line-height: 25px;
    margin-top: 31px;
    padding: 5px;
}

.heightinquirytxt {
    height: 27px;
}

.clsTblInquiryTermsAdd > tbody > tr > td, .clsTblInquiryTermsAdd > tbody > tr > th, .clsTblInquiryTermsAdd > tfoot > tr > td, .clsTblInquiryTermsAdd > tfoot > tr > th, .clsTblInquiryTermsAdd > thead > tr > td, .clsTblInquiryTermsAdd > thead > tr > th {
    padding: 5px !important;
}

.btnNew {
    padding: 6px 8px;
}

@media (max-width:1600px) and (min-width:700px) {
    .clsCalculateMatrix {
        margin-right: 0px !important;
    }
}

@media (max-width:1410px) {
    .clsCalculateMatrixtop {
    }
}

@media (min-width:2000px) {
    .clsMatrixCalc {
        margin-right: 12px !important;
    }

    .clsMatrixPlaceord {
        margin-right: 11px !important;
    }
}

.clscurrencyinr {
    font-weight: 600;
    font-size: 20px;
    vertical-align: sub;
}

.clscurrencydollar {
    font-weight: 600;
}

.tableCustomizedPriceMatrix tbody td {
    padding: 2px;
    border-collapse: unset !important;
}

.checkbox-custmatrix label::before {
    margin-top: 0px;
    left: 14px;
}

.aspNetDisabled {
    border: 1px solid #DFDFDF;
    border-radius: 30px;
    margin-top: 5px;
    color: #4a4a4a;
    position: relative;
    float: left;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 30px;
    line-height: 26px;
}

.tblpricing tbody tr td, .tblButtonsCalculate tbody tr td, .tblgenerateoffer tbody tr td {
    border: none;
    padding: 5px 0px 3px 16px !important;
}

.tdnext {
    padding: 5px 0px 3px 16px !important;
}

.ECPriceOptionTable {
    width: 100%;
    height: 100%;
    border: 1px solid #2a9d00;
    border-radius: 4px 4px 4px 4px;
    border-collapse: initial;
}

.AssPriceOptionTable {
    width: 100%;
    height: 100%;
    border: 1px solid #2a9d00;
    border-radius: 4px 4px 4px 4px;
    border-collapse: initial;
}

.AssModelFooter {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top: -135px;
}

@media (min-width: 1200px) {
    #hidePrice {
        margin-top: -1%;
    }
}

@media screen and (max-width: 600px) {
    .lihide {
        display: none;
    }
}

.selecter:hover {
    border: 1.5px solid #00946C;
}

.pcb-layer .selecter {
    width: 60px;
    padding: 0;
    text-align: center;
    margin-right: 10px;
}

.selecter {
    margin-top: 5px;
    color: #4a4a4a;
    position: relative;
    float: left;
    padding: 0 10px;
    margin-right: 5px; /*margin-right: 10px;*/
    border: 1.5px solid #DFDFDF;
    border-radius: 7px;
    line-height: 26px;
}

.selecter-on {
    margin-top: 5px;
    position: relative;
    /*background-color: rgba(111, 199, 56,0.26);*/
    /*border-color:#0B9949;*/
    border: 1.5px solid #0B9949;
    color: #0B9949;
}

    .selecter-on .on {
        display: block;
    }

.selecter .on {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url(//statics3.seeedstudio.com/assets/img/fusion/svg/option-selected.svg);
    background-size: 20px 17px;
    background-repeat: no-repeat;
}

.mr5 {
    margin-right: 5px;
    border: none;
}

.ml5 {
    margin-left: -10px;
    margin-top: 10px;
}

.selectorText {
    border: 1px solid #DFDFDF;
    border-radius: 7px;
}

    .selectorText:focus {
        outline: none;
        box-shadow: 0px 0px 1px #00946C;
    }

.colorprop {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
}

.redcolor {
    background-color: #D0011B;
}

.greencolor {
    background-color: #008C4A;
}

.bluecolor {
    background-color: #4990E2;
}

.blackcolor {
    background-color: #000;
}

.whitecolor {
    background-color: #ececdf;
}

.yellowcolor {
    background-color: #F6A623;
}

.pmatrix, .pmatrixprice, .pmatrixunittotal {
    position: relative;
    border: 1px solid rgba(111, 199, 56,0.26);
}

.price-list {
    padding: 0 20px;
    margin: 10px 0 15px 0;
    list-style-type: none;
}

    .price-list li {
        margin: 5px 0;
        clear: both;
        line-height: 20px;
        overflow: auto;
    }

    .price-list .lable {
        float: left;
        color: #9C9C9C;
    }

    .price-list .value {
        float: right;
    }

.pmatrixheader {
    padding: 0 20px;
    line-height: 40px;
    border-bottom: 1px solid #dfdfdf;
    clear: both;
    overflow: auto;
    background-color: #f9f9f9;
}

.eg-img {
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(156, 156, 156) 1px 0px 10px;
    position: absolute;
    z-index: 2;
    margin-top: 10px;
}

.add-on {
    float: left;
    margin-top: 4px;
}

.add-on1 {
    float: left;
    margin-top: 11px;
    /*margin-left:-48px;*/
}

.special_options_nav {
    cursor: pointer;
    background-color: #f1f4f3;
    margin: 0;
    padding: 10px 35px;
}

    .special_options_nav .btn-radio {
        background: url(https://d2248do3dmhgxi.cloudfront.net/v2/img/plus-icon.png?v=1.0) no-repeat 0 -2px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

    .special_options_nav .angle-updown {
        background: url(https://d2248do3dmhgxi.cloudfront.net/v2/img/icon-spr.png?v=2.0) no-repeat 45px -66px;
        width: 52px;
        height: 22px;
        line-height: 22px;
        vertical-align: middle;
    }

.right {
    float: right;
}

.wdays {
    color: hsl(109, 76%, 27%);
}

    .wdays:hover {
        text-decoration: underline;
    }

.special_options_nav.active .angle-updown {
    background-position: 42px -96px;
}

.special_options_nav.active .btn-radio {
    background: url(https://d2248do3dmhgxi.cloudfront.net/v2/img/less-icon.png?v=1.0) no-repeat 0 -2px;
}

.special_options_wrap {
    border: 1px dashed #eee;
    padding: 20px 20px 0px;
    border-top: 0 none;
}

.special_options_nav .special_options_titl em {
    color: hsl(109, 53%, 43%);
}

.clscustomizedmatrix {
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: underline;
}

.customized-matrix-header {
    padding: 5px 15px;
}

.Custommodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}


#loader {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 1;
    margin: -75px 0 0 -75px;
}

.calc_odd {
    height: 30px;
    background-color: #f9f9f9 !important;
    line-height: 1.42857143 !important;
    vertical-align: top !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

.textboxwithdimX {
    width: 70px;
}

.textboxwithdimX1 {
    margin-left: -30px;
}

.flexible_head {
    width: 119px;
    border-radius: 0px;
    height: 115px;
    text-align: center;
    line-height: 15px;
    padding-left: 0;
    padding-right: 0;
}

.flexible_border1 {
    color: black;
    border-bottom: 1.5px solid #DFDFDF;
    padding-bottom: 8px;
    background-color: #DFDFDF;
    padding-top: 12px;
    margin-left: 0.3%;
}

.flexible_head:hover .flexible_border1 {
    background-color: #4AA834;
    color: white;
}

.selecter-on .flexible_border1 {
    background-color: #4AA834;
    color: white;
}

.flexible_border2 {
    color: #4a4a4a !important;
    padding-left: 5px;
    padding-right: 5px;
}


/*toggle cs*/









#Custcontainer {
    width: 160px;
    height: 36px;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.CustInner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .2em;
}

    .CustInner-container:first-child {
        background: #e9e9e9;
        color: #a9a9a9;
    }

    .CustInner-container:nth-child(2) {
        background: #0B9949;
        color: white;
        clip-path: inset(0 50% 0 0);
        transition: .3s cubic-bezier(0,0,0,1);
    }

.CustToggle {
    width: 50%;
    position: absolute;
    height: inherit;
    display: flex;
    box-sizing: border-box;
}

    .CustToggle p {
        margin: auto;
    }

    .CustToggle:nth-child(1) {
        right: 0;
    }


/*toggle cs*/

.tooltip-wrap-eg {
    position: relative;
    cursor: pointer;
    margin-left: -45px;
    padding-top: 5px;
    color: #0B9949;
}

    .tooltip-wrap-eg .tooltip-content-eg {
        display: none;
        position: absolute;
        bottom: 5%;
        left: 8%;
        right: 5%;
        background-color: #fff;
        padding: .5em;
    }

    .tooltip-wrap-eg:hover .tooltip-content-eg {
        display: block;
    }

.hide {
    display: none;
}

.auto-style7 {
    width: 170px;
}

.bg-heading {
    background-color: white;
}
.pcbbackgroundcolorgreen {
    border: 1px solid #DFDFDF;
}
.pcbbackgroundcolorred {
    border: 1px solid red;
}

body {
}

.checkmark {
 display:none;
}

.removecheckmark {
    display: block;
}

.checkmarkpo {
    display: none;
}

.removecheckmarkpo {
    display: block;
}

.checkmarkbom {
    display: none;
}

.removecheckmarkbom {
    display: block;
}

.checkmarkpic {
    display: none;
}

.removecheckmarkpic {
    display: block;
}